<nav>
  <div class="site-title">
    <a href="/"><h1>RCA 2nd Years Selections</h1></a>
    <p>Name Registered</p>
  </div>
  <ul>
    <li><a href="/">Names</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Register</a></li>
  </ul>
</nav>